attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
click==7.1.1
colorama==0.4.3
coloredlogs==14.0
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
h5py==2.9.0
hiwi==0.0
humanfriendly==8.1
imageio==2.8.0
img==2.5
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itk==5.0.1
itk-core==5.0.1
itk-filtering==5.0.1
itk-io==5.0.1
itk-numerics==5.0.1
itk-registration==5.0.1
itk-segmentation==5.0.1
jedi==0.15.1
Jinja2==2.10.1
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mpld3==0.3
natsort==7.0.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.4
notebook==6.0.0
numpy==1.16.1
opencv-contrib-python==4.1.0.25
pandas==1.0.3
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.4.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.7.0
ptyprocess==0.6.0
Pygments==2.4.2
pyparsing==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.1.1
pyzmq==18.1.0
qtconsole==4.5.3
scikit-image==0.16.2
scipy==1.2.1
seaborn==0.10.0
Send2Trash==1.5.0
SimpleITK==1.2.4
six==1.12.0
tabulate==0.8.6
tensorboardX==1.6
terminado==0.8.2
testpath==0.4.2
torch==1.0.1
torchfile==0.1.0
torchvision==0.2.1
tornado==6.0.3
tqdm==4.43.0
traitlets==4.3.2
voluptuous==0.11.7
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
